/* Google font from google */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* Share style */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    width: 180px;
    height: 64px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

/* Header section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-tittle {
    font-size: 2.8rem;
    font-weight: 700;
    counter-reset: #131313;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* Banner section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.banner-img img{
    margin-top: 20px;
    width: 100%;
}

/* Responsive media query for small device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}


/* Responsive media query for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}